.best-movie-container {
  border: 1px solid rgb(223, 223, 223);
  border-radius: 10px;
  box-shadow: 1px -1px 15px -1px rgba(0, 0, 0, 0.36);
  overflow: hidden;
  /* padding-bottom: 10px; */
  min-height: 100px;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(76, 76, 76);
  /* transition: transform 0.3s ease-in-out; */
  display: flex;
  align-items: center;
  min-width: 180px;
  margin-bottom: 10px;
}
.best-movie-container:hover {
  cursor: pointer;
}
.best-img-container {
  max-width: 150px;

  overflow: hidden;
}

.best-description-container {
  padding-left: 20px;
  padding-bottom: 10px;
}

.best-rating {
  display: flex;
  margin-left: 15px;
  gap: 5px;
  margin-top: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h3:hover {
  text-decoration: underline;
}

.more-info-button {
  margin: 0 auto;
  width: 90%;
  border: 0;
  padding: 7px 30px;
  background-color: #2074d4;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  color: white;
}

button:hover {
  background-color: rgb(168, 168, 168);
  cursor: pointer;
}

.best-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-bottom: 15px; */
}

.best-details {
  /* padding-left: 40px; */
  flex-grow: 1;
}
