.top-rated-container {
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  justify-content: center;
  /* border: 1px solid gray; */
}

.load-more-button {
  margin: 0 auto;
  width: 100%;
  border: 0;
  padding: 7px 0;
  background-color: #2074d4;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  color: white;
  margin-top: 30px;
}
